<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>byeight</display-name>
  <filter>
    <display-name>PageFilter</display-name>
    <filter-name>PageFilter</filter-name>
    <filter-class>com.byeight.proxy.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PageFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TagServlet</display-name>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>com.byeight.tags.TagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/tags</url-pattern>
  </servlet-mapping>
</web-app>