@import url(by8.css);

#header {
    display: none;
    font-style: italic;
    font-size: 1.5em;
    padding: 10px;
}
.surname {
    font: 2em normal ariel;
    color: #07A;
}
.surname .f {
    color: #F08;
}
#navigator {
    position: absolute;
}

#viewer {
    width: 100%;
    height: 100%;
    padding: 0;
    -moz-transition: opacity 0.5s linear;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;    
    opacity: 1.0;
}
#viewer.by8-invisible {
    -moz-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    -webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
}
#viewer .opaque {
    padding: 0;
}
#viewer .title-bar {
    text-align: center;
    color: #999;
}
#viewer .body {
    text-align: center;
}
#viewer .body .view {
    position: relative;
}
.view .video-container {
    position: relative;
}
#viewer .view > .nav {
    color: #999;
    position: absolute;
    top: 35%;
    font-size: 7em;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    -moz-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#viewer .view > .nav:hover {
    opacity: 0.95;
}
#viewer .view > .nav.prev {
    left: 0;
}
#viewer .view > .nav.next {
    right: 0;
}

.folder-comp {
    width: 100px;
    height: 100px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    position: relative;
}
.folder-comp > .text {
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 100%;
}
.folder-comp.dir {
    width: 133px;
    background: transparent url(images/folder.png)  0 0 no-repeat scroll;
    background-size: 133px 100px;
}
.breadcrumb {
    cursor: pointer;
    font: 1.2em normal ariel;
    text-shadow: -2px 0 2px #FFF, 0 2px 2px #FFF, 2px 0 2px #FFF, 0 -2px 2px #FFF;
}

@import url(album-ios.css);