body {
    padding-top: 50px;
}

.navbar {
    opacity: 0.75;
    animation-name: nav-opaque;
    animation-duration: 0.5s;
}
@keyframes nav-opaque {
    from {opacity: 1.0;}
    to {opacity: 0.75;}
}
.navbar:hover {
    opacity: 1.0;
    animation-name: nav-full;
    animation-duration: 0.5s;
}
@keyframes nav-full {
    from {opacity: 0.75;}
    to {opacity: 1.0;}
}

.byeight-template {
    text-align: center;
}

.thumbnail {
    display: inline;
}

