<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="description" content="Trung Nguyen's Family Album">
<meta name="author" content="Trung Nguyen">

<title>ByEight.com</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="/album/scripts/slick/slick.css">
<link rel="stylesheet" type="text/css" href="/album/scripts/slick/slick-theme.css">

<!-- Our own content -->
<link rel="stylesheet" href="/album/css/byeight.css">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/album/">Home</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    {NAVIGATOR}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="byeight-template">
            <h1>Nguyen Family Album</h1>
            <p class="lead">
            {CURRENT}
            </p>
            <p class="lead">
            {DIRECTORIES}
            </p>
            <p class="lead images">
            {IMAGES}
            </p>
        </div>

    </div>
    
    <div class="preview">
        <div class="body"></div>
        <button class="close"></button>
    
        <footer class="footer">
            <div class="container">
                <p class="text"/>
            </div>
        </footer>
    </div>

    <!-- Script bootstrap -->
    <script src="/album/scripts/require.js" data-main="/album/scripts/byeight"></script>

</body>
</html>

